

/*{
   text-align: center;
   color: whitesmoke;
   background: 	#1A151C;

}*/

/*below three for inner window*/

#dialog-window {
  height: 200px;
  border: 1px black solid;
  width: 50vw;
  float: right;
}

#scrollable-content {
  height: 180px;
  overflow: auto;
  background-color: blue;
}

#footer {
  height: 20px;
  background-color: green;
}

img {
  margin-bottom: 20px;
  
}