

.surroundingCopy{

    background-color:white;
}




.squareText{
    background-image: url("https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif");
    width: 140px;
    height: 135px;
    color: whitesmoke;
    font-family: 'Margarine', cursive;

}