

.surroundingCopy{

    background-color:black;
}



@media (min-width: 220px) and (max-width: 500px) {
#squareText{
    background-color:black;
    width: 85%;
    height: 135px;
    color: whitesmoke;
    font-size:16px;
    font-family: 'Margarine', cursive;
    transition: all .2s ease-in;
    padding-top: 15px;
    border: black;

}
}


@media (min-width: 500px) and (max-width: 900px) {
  #squareText{
    background-color:black;

      width: 85%;
      height: 135px;
      color: whitesmoke;
      font-size:18px;
      font-family: 'Margarine', cursive;
      transition: all .2s ease-in;
      padding-top: 15px;
      border: black;

  }
  }

  @media (min-width: 900px) and (max-width: 2500px) {
    #squareText{
      background-color:black;

        width: 85%;
        height: 135px;
        color: whitesmoke;
        font-size:21px;
        font-family: 'Margarine', cursive;
        transition: all .2s ease-in;
        padding-top: 15px;
        border: black;
    }
    }


