/*button 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eeabab;
  }*/
  
  button, .thisButton {
    transition: width .5s;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    background: #fff;
    border: none;
    border-radius: 100px;
    padding: 10px 25px;
    color: #eeabab;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2), inset -5px -5px 10px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    box-sizing: border-box;
    width: 253px;
    height: 51px;
  }
  button span {
    white-space: nowrap;
  }
  button.loading {
    -webkit-animation: loading .5s .75s alternate infinite;
            animation: loading .5s .75s alternate infinite;
    transition: width .5s .25s;
    width: 51px;
  }
  button.loading span {
    opacity: 0;
    transition: opacity .25s;
  }
  button.success {
    width: 138px;
  }
  button.success span {
    opacity: 0;
    -webkit-animation: success .5s .5s forwards;
            animation: success .5s .5s forwards;
  }
  
  @-webkit-keyframes loading {
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background: #fff7ba;
    }
  }
  
  @keyframes loading {
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      background: #fff7ba;
    }
  }
  @-webkit-keyframes success {
    100% {
      opacity: 1;
    }
  }
  @keyframes success {
    100% {
      opacity: 1;
    }
  }
  