


*{
  text-align: center;
  background: white; 
}


.usethis{
background-repeat: no-repeat;
  background-position: top center;
  width:100%;
  height:1807px;
  border:1px solid red;
  background-size: contain;

}
.Landing{
   margin-top: 85%;
  
}