
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 500px) {
  .example {background: red;}
}


/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 


/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 
*/



/*

@media only screen and (max-width: 400px) {
    #giphyPickerWrapper{
     box-sizing: border-box;
     position: relative;
     padding: 10px;
     border: 1px solid #f1f1f1;
     border-radius: 4px;
     background: white;
     width: 25%;
     
     clear:both;
     height: 505px;
     z-index: 100;

     }

     .giphyColumn{
        box-sizing: border-box;
       
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
   }


   @media (min-width:400px) and (max-width: 768px) {
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 50%;
        
        clear:both;
        height: 505px;
        z-index: 100;
    }
    .giphyColumn{
        box-sizing: border-box;
       
        flex: 50%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
  } */



@media (min-width: 799px) and (max-width: 1500px) {


 
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 100%;
        clear:both;
        height: 350px;
        z-index: 100;
    }

    .giphyColumn{
        box-sizing: border-box;
        
        flex: 25%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
 
  }

 
  @media (min-width: 700px) and (max-width: 799px) {


 
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 100%;
        clear:both;
        height: 350px;
        z-index: 100;
    }

    .giphyColumn{
        box-sizing: border-box;
        
        flex: 30%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
 
  }



  @media (min-width: 600px) and (max-width: 700px) {


 
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 100%;
        clear:both;
        height: 350px;
        z-index: 100;
    }

    .giphyColumn{
        box-sizing: border-box;
        
        flex: 50%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
 
  }

  @media (min-width: 500px) and (max-width: 600px) {


 
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 100%;
        clear:both;
        height: 350px;
        z-index: 100;
    }

    .giphyColumn{
        box-sizing: border-box;
        
        flex: 50%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
 
  }

  @media (min-width: 320px) and (max-width: 500px) {


 
    #giphyPickerWrapper{
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        border: 1px solid #f1f1f1;
        border-radius: 4px;
        background: white;
        width: 100%;
        clear:both;
        height: 350px;
        z-index: 100;
    }

    .giphyColumn{
        box-sizing: border-box;
        
        flex: 100%;
        max-width: 100%;
        padding: 0 4px;
        cursor: pointer;
    }
 
  }



.pickerWrapper{
	box-sizing: border-box;
	position: relative;
}
.giphyWrapper{
	box-sizing: border-box;
	overflow-y: scroll;
	height: calc(100% - 35px);
	margin-top: 5px;
}

.giphyWrapperRow{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

input {
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 2px;
	color: inherit;
	font-size: 14px;
	height: auto;
	line-height: 1;
	margin: 0;
	padding: 7px 10px;
	width: 90%;
	display: block;

}