/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 500px) {
  .example {background: red;}
}


/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 


/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 
*/






/*square scrolls*/

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}




.horizontal-scroll-wrapper.squares{
   box-sizing:border-box;
  
}

.horizontal-scroll-wrapper.texts{
  box-sizing:border-box;
 
}

@media (min-width: 870px) and (max-width: 992px) {
.horizontal-scroll-wrapper{
  box-sizing:border-box;
  display:block;
  margin-left: -60px;
  margin-right: 0;
  margin-bottom: -450px;
  width:220px;
  max-height:700px;
  background-image: url("./images/try6.gif");
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
}


@media (min-width: 700px) and (max-width: 870px) {
  .horizontal-scroll-wrapper{
    box-sizing:border-box;
    display:block;
    margin-left: -78px;
    margin-right: 0;
    margin-bottom: -400px;
    width:180px;
    max-height:620px;
    background:red;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }

  @media (min-width: 600px) and (max-width: 700px) {
    .horizontal-scroll-wrapper{
    box-sizing:border-box;
    display:block;
    margin-left: -92px;
    margin-right: 0;
    margin-bottom: -350px;
    width:180px;
    max-height:550px;
    background:red;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }

    @media (min-width: 500px) and (max-width: 600px) {
      .horizontal-scroll-wrapper{
        box-sizing:border-box;
        display:block;
        margin-left: -78px;
        margin-right: 0;
        margin-bottom: -250px;
        width:180px;
        max-height:450px;
        background:red;
        overflow-y:auto;
        overflow-x:hidden;
        transform:rotate(-90deg) translateY(-80px);
        transform-origin:right top;
      }
      }

      @media (min-width: 20px) and (max-width: 500px) {
        .horizontal-scroll-wrapper{
          box-sizing:border-box;
          display:block;
          margin-left: -100px;
          margin-right: 0;
          margin-bottom: -110px;
          width:180px;
          max-height:310px;
          background:red;
          overflow-y:auto;
          overflow-x:hidden;
          transform:rotate(-90deg) translateY(-80px);
          transform-origin:right top;
        }
        }



.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  background:black;
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:10px 0 0 0;

}

.texts{
  padding:10px 0 0 0;

}

.texts > div{
   box-sizing:border-box;
  width:160px;
  height:160px;
  margin:10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.squares > div{
  box-sizing:border-box;
 width:160px;
 height:160px;
 margin:10px;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center; 
}

.squares div:nth-child(3){
  background-image: url("./images/1.png");

}

.squares div:nth-child(4){
  background-image: url("https://media0.giphy.com/media/Cmr1OMJ2FN0B2/200w.gif");

}



.squares img{
    opacity: 0;
}


