


/*square scrolls*/

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}






.horizontal-scroll-wrapper.texts{
  box-sizing:border-box;
 
}



@media (min-width: 1300px) and (max-width: 2200px) {
.horizontal-scroll-wrapper.texts{
  box-sizing:border-box;
  display:block;
  margin-left: -90px;
  margin-right: 0;
  margin-bottom: -65vw;
  width:220px;
  max-height:85vw;
  background-image: url("./images/try7.gif");
  background-size: contain;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .horizontal-scroll-wrapper.texts{
    box-sizing:border-box;
    display:block;
    margin-left: -110px;
    margin-right: 0;
    margin-bottom: -60vw;
    width:220px;
    max-height:85vw;
    background-image: url("./images/try7.gif");
    background-size: contain;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }

@media (min-width: 870px) and (max-width: 1000px) {
  .horizontal-scroll-wrapper.texts{
    box-sizing:border-box;
    display:block;
    margin-left: -80px;
    margin-right: 0;
    margin-bottom: -55vw;
    width:220px;
    max-height:85vw;
    background-image: url("./images/try7.gif");
    background-size: contain;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }


@media (min-width: 700px) and (max-width: 870px) {
  .horizontal-scroll-wrapper.texts{
    box-sizing:border-box;
    display:block;
    margin-left: -65px;
    margin-right: 0;
    margin-bottom: -55vw;
    width:220px;
    max-height:85vw;
    background-image: url("./images/try7.gif");
  background-size: contain;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }

  @media (min-width: 600px) and (max-width: 700px) {
    .horizontal-scroll-wrapper.texts{
    box-sizing:border-box;
    display:block;
    margin-left: -120px;
    margin-right: 0;
    margin-bottom: -240px;
    width:220px;
    max-height:85vw;
    background-image: url("./images/try7.gif");
  background-size: contain;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  }

    @media (min-width: 500px) and (max-width: 600px) {
      .horizontal-scroll-wrapper.texts{
        box-sizing:border-box;
        display:block;
        margin-left: -120px;
        margin-right: 0;
        margin-bottom: -200px;
        width:220px;
        max-height:85vw;
        background-image: url("./images/try7.gif");
  background-size: contain;
        overflow-y:auto;
        overflow-x:hidden;
        transform:rotate(-90deg) translateY(-80px);
        transform-origin:right top;
      }
      }

      @media (min-width: 20px) and (max-width: 500px) {
        .horizontal-scroll-wrapper.texts{
          box-sizing:border-box;
          display:block;
          margin-left: -130px;
          margin-right: 0;
          margin-bottom: -5vw;
          width:220px;
          max-height:90vw;
          background-image: url("./images/try7.gif");
  background-size: contain;
          overflow-y:auto;
          overflow-x:hidden;
          transform:rotate(-90deg) translateY(-80px);
          transform-origin:right top;
        }
        }




        /*images*/

        @media (min-width: 1300px) and (max-width: 2200px) {
          .horizontal-scroll-wrapper.squares{
            box-sizing:border-box;
            display:block;
            margin-left: -90px;
            margin-right: 0;
            margin-bottom: -65vw;
            width:220px;
            max-height:85vw;
            background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
            overflow-y:auto;
            overflow-x:hidden;
            transform:rotate(-90deg) translateY(-80px);
            transform-origin:right top;
          }
          }

          @media (min-width: 1000px) and (max-width: 1300px) {
            .horizontal-scroll-wrapper.squares{
              box-sizing:border-box;
              display:block;
              margin-left: -110px;
              margin-right: 0;
              margin-bottom: -60vw;
              width:220px;
              max-height:85vw;
              background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
              background-size: cover;
              overflow-y:auto;
              overflow-x:hidden;
              transform:rotate(-90deg) translateY(-80px);
              transform-origin:right top;
            }
            }

        @media (min-width: 870px) and (max-width: 1000px) {
          .horizontal-scroll-wrapper.squares{
            box-sizing:border-box;
            display:block;
            margin-left: -80px;
            margin-right: 0;
            margin-bottom: -55vw;
            width:220px;
            max-height:85vw;
            background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
            overflow-y:auto;
            overflow-x:hidden;
            transform:rotate(-90deg) translateY(-80px);
            transform-origin:right top;
          }
          }
          
          
          @media (min-width: 700px) and (max-width: 870px) {
            .horizontal-scroll-wrapper.squares{
              box-sizing:border-box;
              display:block;
              margin-left: -65px;
              margin-right: 0;
              margin-bottom: -55vw;
              width:180px;
              max-height:85vw;
              background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
              overflow-y:auto;
              overflow-x:hidden;
              transform:rotate(-90deg) translateY(-80px);
              transform-origin:right top;
            }
            }
          
            @media (min-width: 600px) and (max-width: 700px) {
              .horizontal-scroll-wrapper.squares{
              box-sizing:border-box;
              display:block;
              margin-left: -60px;
              margin-right: 0;
              margin-bottom: -55vw;
              width:180px;
              max-height:85vw;
              background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
              overflow-y:auto;
              overflow-x:hidden;
              transform:rotate(-90deg) translateY(-80px);
              transform-origin:right top;
            }
            }
          
              @media (min-width: 500px) and (max-width: 600px) {
                .horizontal-scroll-wrapper.squares{
                  box-sizing:border-box;
                  display:block;
                  margin-left: -60px;
                  margin-right: 0;
                  margin-bottom: -35vw;
                  width:180px;
                  max-height:85vw;
                  background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
                  overflow-y:auto;
                  overflow-x:hidden;
                  transform:rotate(-90deg) translateY(-80px);
                  transform-origin:right top;
                }
                }
          
                @media (min-width: 20px) and (max-width: 500px) {
                  .horizontal-scroll-wrapper.squares{
                    box-sizing:border-box;
                    display:block;
                    margin-left: -90px;
                    margin-right: 0;
                    margin-bottom: -15vw;
                    width:180px;
                    max-height:90vw;
                    background-image: url("https://media.giphy.com/media/3oKIPc9VZj4ylzjcys/giphy.gif");
            background-size: cover;
                    overflow-y:auto;
                    overflow-x:hidden;
                    transform:rotate(-90deg) translateY(-80px);
                    transform-origin:right top;
                  }
                  }
          
          
          
          
              


.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  background:black;
  transform:rotate(90deg);
  transform-origin: right top;
}



.texts{
  padding:10px 0 0 0;

}

.texts > div{
   box-sizing:border-box;
  width:160px;
  height:160px;
  margin:40px;
  margin-left:5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  }








