


/*square scrolls*/

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}









@media (min-width: 220px) and (max-width: 500px) {
  #dialog-window {
    height: 300px;
    border: 4px white solid;
  }
  
  #scrollable-content {
    height: 280px;
    overflow: auto;
    background-color: black;
  }
  
  #footer {
    height: 20px;
    background-color: white;
  }
  }
  


@media (min-width: 500px) and (max-width: 2200px) {
  #dialog-window {
    height: 400px;
    border: 4px white solid;
  }
  
  #scrollable-content {
    height: 360px;
    overflow: auto;
    background-color: black;
  }
  
  #footer {
    height: 20px;
    background-color: white;
  }
  }

